{
  "presets": [
    [
      "@nx/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage",
        "importSource": "react",
        "targets": "defaults"
      }
    ]
  ],
  "plugins": []
}
