{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current" // or specify a specific Node.js version
        },
        "modules": "commonjs" // Important: Prevent Babel from transpiling modules
      }
    ],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript" // If you"re using TypeScript
  ]
}
