@import './main-styles.css';

.css-1chuxo2-MuiPickersCalendarHeader-label {
  font-size: 1.1rem;
}

.css-1b0507o-MuiDivider-root {
  background-color: var(--textPrimary);
}

.css-1yz9m1p-MuiDivider-root {
  background-color: var(--textPrimary);
}

.css-1ny9jkv-MuiClockNumber-root {
  font-size: 1.25rem !important;
  color: var(--textPrimary);
}

.css-1f4jwp7-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  scale: 1.75;
  color: var(--secondaryDark);
}

.css-1ecnh9w-MuiButtonBase-root-MuiButton-root {
  scale: 1.25 !important;
}

.css-kgflii-MuiTypography-root-MuiClock-meridiemText {
  font-size: 1rem;
  color: var(--secondaryDark);
}

.css-179dbev-MuiButtonBase-root-MuiIconButton-root .css-cowzbw-MuiSvgIcon-root {
  color: var(--primary);
}

.css-189wwkn-MuiClock-squareMask {
  background-color: var(--defaultBack);
}
