:root {
  --defaultBack: #3a3c41;
  --secondaryMain: #cb91ff;
  --textPrimary: #cbcbcb;
  --backgroundPaper: #1f1f1f;
  --background: #f9f871;
  --primary: #00dfb9;
  --secondaryDark: #58278b;
}

@font-face {
  font-family: 'League Gothic';
  src: url('/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf'), format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  letter-spacing: 2.1px;
  word-spacing: 2.1px;
}

#root {
  width: 100%;
  height: auto;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background:
    radial-gradient(circle at 50% 0, #e9e9e9 10%, transparent),
    radial-gradient(circle at 6.7% 75%, #505050, transparent),
    radial-gradient(circle at 93.3% 75%, #7b7b7b, transparent),
    linear-gradient(#cb91ff, #33e5c7) #aca9bb;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat;
  z-index: -2;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: fit-content;
  min-height: 100vh;
  width: 100%;
  background-image: url('/overlay.svg');
  background-size: cover;
  z-index: -1;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px var(--defaultBack) inset !important;
  -webkit-text-fill-color: var(--textPrimary) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--textPrimary);
}

input::-webkit-inner-spin-button,
& input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes openTopRight {
  from {
    translate: -100vw;
    z-index: 2;
  }

  to {
    translate: 0 0;
  }
}

.menuBoxTopRight.animate {
  animation: openTopRight ease-in-out 0.3s;
}

@keyframes openBottomLeft {
  from {
    translate: 0vw -100vh;
  }

  to {
    translate: 0 0;
  }
}

.menuBoxBottomLeft.animate {
  animation: openBottomLeft ease-in-out 0.3s;
}

@keyframes openBottomRight {
  from {
    translate: -100vw -100vh;
  }

  to {
    translate: 0 0;
  }
}

.menuBoxBottomRight.animate {
  animation: openBottomRight ease-in-out 0.3s;
}

@keyframes buttonSpin {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.menuButton.animate {
  animation: buttonSpin 0.3s linear;
}
