@font-face {
  font-family: 'League Gothic';
  src: url('fonts/LeagueGothic-Regular-VariableFont_wdth.ttf'), format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  letter-spacing: 2.1px;
  word-spacing: 2.1px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 99vh;
}

.main-wrapper-background {
  background-image: url('../assets/background2.webp');
  background-size: contain;
  opacity: 0.03;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 100px #4d4637 inset !important;
  -webkit-text-fill-color: #1d1607 !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #1d1607;
}

input::-webkit-inner-spin-button, & input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
'& input::-webkit-outer-spin-button, & input::-webkit-inner-spin-button': {
  '-webkit-appearance': 'none',
  margin: 0,
},
*/
