:root {
  --defaultBack: #4d4637;
  --secondaryMain: #cb91ff;
  --textPrimary: #f3ead9;
  --defaultPaper: #1d1607;
  --background: #f9f871  ;
}

@font-face {
  font-family: 'League Gothic';
  src: url('fonts/LeagueGothic-Regular-VariableFont_wdth.ttf'), format('truetype');

}

* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  letter-spacing: 2.1px;
  word-spacing: 2.1px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  background-image: url('../assets//background.svg');
  background-size: contain;
  background-attachment: fixed;
  background-repeat: repeat-x;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 100px var(--defaultBack) inset !important;
  -webkit-text-fill-color: var(--textPrimary) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--textPrimary);
}

input::-webkit-inner-spin-button, & input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-de3exi-MuiClock-squareMask {
  background-color: var(--defaultBack);

}
.css-joes92-MuiDivider-root {
  background-color: var(--defaultBack);
}

.css-12k63tt-MuiDivider-root {
  background-color: var(--defaultBack);
}

.css-1ctvbgh-MuiTypography-root-MuiClock-meridiemText{
  color: var(--defaultBack);
}

.css-1ys9rbi-MuiClock-wrapper{
  font-size: 1.5rem;
}

.css-1u3qy1m-MuiButtonBase-root-MuiIconButton-root-MuiClock-amButton, .css-1uwzskq-MuiButtonBase-root-MuiIconButton-root-MuiClock-pmButton {
  background-color: var(--defaultBack) !important;
}

.css-1ctvbgh-MuiTypography-root-MuiClock-meridiemText {
  font-size: 1rem !important;
  color: var(--defaultPaper);
}

.css-14klqex-MuiTypography-root-MuiDayCalendar-weekDayLabel {
  scale: 1.75;
}

.css-pfx7z5-MuiButtonBase-root-MuiButton-root {
  scale: 1.75 !important;
}
