# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules
*/.venv
*/__pycache__/*
__pycache__
build
dist
.tox
venv
.venv
.pytest_cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
vite.config.mts.timestamp-*
.nx/cache
.nx/workspace-data/*
.cache/*

# env
./env/*
.env.*
.env/*
env/

/secrets/
secrets/
/secrets
secrets

tokens
/tokens
tokens/
/tokens/
./tokens/*

rag-data/*
/rag-data/*
rag-data/
/rag-data/

*/wdg-agents/data_store/*

.nx/workspace-data/d/daemon.log
.nx/workspace-data/file-map.json

.tool-versions



vite.config.*.timestamp*
