/* You can add global styles to this file, and also import other style files */
* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  box-sizing: border-box;
}

#root {
  position: relative;
  min-height: '100vh';
}
