/* You can add global styles to this file, and also import other style files */
* {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-size: inherit;
  word-spacing: inherit;
  letter-spacing: inherit;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  height: 100vh;
}
