 @font-face { 
  font-family: 'Jersey25';
  src: url('../fonts/Jersey25-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jersey25-Charted';
  src: url('../fonts/Jersey25Charted-Regular.ttf') format('truetype');
}
